@import "tailwindcss";

:root {
  --bg-primary: #111;
  --bg-accent: #171717;
  --txt-primary: #ffffff;
  --txt-accent: #838383;
  --txt-nav-cv: #111;
}

/* custom aston font */
@font-face {
  font-family: "conthrax";
  src: url("/fonts/conthrax.woff2") format(".woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "conthrax";
  position: relative;
  background-color: var(--bg-primary);
}

.font-lato{
  font-family: "Lato", sans-serif;
}

